.SocialLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 8px;
}

.SocialLinks .SocialLink {
    margin-left: 20px;
    height: 40px;
}

.SocialLinks img {
    height: 40px;
}
